<html>

<head>
    <title>Ultimate Crypto Price Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Crypto Price Checker</h1>


        <form action="/price" method="get">
            <input name="symbol" placeholder="BTC or Token Address" required />
            <button>Check</button>
        </form>


        <% if (data) { %>
            <div class="card">
                <img src="<%= data.logo %>" />
                <h2>
                    <%= data.name %> (<%= data.symbol %>)
                </h2>
                <p class="price">$<%= data.price %>
                </p>
                <p class="change <%= data.change >= 0 ? 'up' : 'down' %>">
                    24h: <%= data.change %>%
                </p>
                <p class="network">Network: <%= data.network %>
                </p>


                <iframe src="https://s.tradingview.com/widgetembed/?symbol=<%= data.symbol %>USD&interval=15"
                    frameborder="0"></iframe>
            </div>
            <% } %>


                <% if (error) { %>
                    <p class="error">
                        <%= error %>
                    </p>
                    <% } %>
    </div>


    <script>
        setTimeout(() => location.reload(), 30000);
    </script>
</body>

</html>